/*sample .css*/
.pane {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    /*-fx-padding: 8;*/
}

.top-box {
    -fx-background-color: #e1e1e1;
    -fx-border-radius: 10;
    -fx-border-color: #bebebe;
}

.jfx-button{
    -fx-background-color: #0096c9;
    /*-fx-background-radius:10;;*/
    -fx-text-fill:white;
}
